@font-face {
    font-family: 'CustomFont';
    src: url('./font/BeaufortforLOL-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'CustomFont', sans-serif !important;
}